.carousel-item {
    max-height: 500px;
}
.card {
    margin-bottom: 30px;
    margin-top: 30px;
    transition: .9s all
}
.footer {
    padding-top: 30px;
    padding-bottom: 30px;
}
.main-contrasts {
    margin-right: 100px;
}
